<!DOCTYPE html>
<html lang="mx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TUTORIAL CSS de DWP</title>
    <link rel="stylesheet" href="css/formulario.css">
</head>

<body>

    <div id="principal">
        <div id="contenido">
            <div class="form-body">
                <img src="img/logo-ut.png" alt="Alt-user">
                <form name="formLogueo" action="/sesion/iniciar" method="post">
                    <input type="text" name="tfUsuario" placeholder="USUARIO">
                    <br><br>
                    <input type="password" name="tfContrasena" placeholder="password">
                    <br><br>
                    <input id="btn-sesion" type="submit" name="btnSesion" value="IniciarSesion">
                </form>
            </div>

        </div>
    </div>

</body>

</html>