<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div id="contenedor">
        <div id="nav1">
            <!--<h1>Color Guinda</h1>-->
        </div>
        <!--HEADER-->
        <header>
            <!--Navegación-->
            <a href="index.html" class="logo" target="blank"><img src="img/Biblioteca-logo.jpg" alt="Logo"></a>
            <div class="navegacion">
              <ul>
                <li><a href="/principal" >INICIO</a></li>
                <li><a href="/alumnos" >ALUMNOS</a></li>
                <li class="submenu">
                  <a href="libros.php" >LIBROS</a>
                  <ul class="hijos">
                    <li><a href="editoriales.php">EDITORIALES</a></li>
                    <li><a href="autores.php">AUTORES</a></li>
                  </ul>
                </li>
                <li><a href="prestamos.php" >PRÉSTAMOS</a></li>
                <li><a href="login.html" >Login</a></li>
              </ul>
            </div>
         </header>

        <div id="menu-izq">
            <!--NAVEGACIón-->
            <div class="toggle-btn">
                <span>&#9776</span>
              </div>
              <ul>
                <li>
                  <img src="img/Biblioteca-logo.jpg" alt="" class="logo">
                </li>
                <li><a href="index.html">HOME</a></li>
                <li><a href="usuarios.php">USUARIOS</a></li>
                <li><a href="libros.php">LIBROS</a></li>
                <li><a href="prestamos.php">PRESTAMOS</a></li>
                <li><a href="editoriales.php">EDITORIALES</a></li>
                <li><a href="autores.php">Autores</a></li>
                <li> <a href="consultas.php">Consultas</a></li>
              </ul>
        </div>
        <div id="titulo">
          <h1>BIBLIOTECA VIRTUAL</h1>
        </div>
        <div id="aside-der">
        <div id="titulo-der">
                <h1>PÁGINA PRINCIPAL</h1>
            </div>
            <div class="galeria">
            <div class="galeria-img">
                <div class="foto">
                    <a href="index.html">
                    <img src="img/1.png" alt="">
                    </a>
                </div>
                <div class="texto-titulo">
                    <p class="p1"> </p>
                    <p>INICIO</p>
                </div>
            </div>
            <div class="galeria-img">
                <div class="foto">
                    <a href="usuarios.php">
                    <img src="img/2.png" alt="">
                    </a>
                </div>
                <div class="texto-titulo">
                    <p class="p1">TABLA DE:</p>
                    <p>USUARIOS</p>
                </div>
            </div>
            <div class="galeria-img">
                <div class="foto">
                    <a href="libros.php">
                    <img src="img/5.png" alt="">
                    </a>
                </div>
                <div class="texto-titulo">
                    <p class="p1">TABLA DE:</p>
                    <p>LIBROS</p>
                </div>
            </div>
            <div class="galeria-img">
                <div class="foto">
                    <a href="prestamos.php">
                    <img src="img/4.png" alt="">
                    </a>
                </div>
                <div class="texto-titulo">
                    <p class="p1">TABLA DE:</p>
                    <p>PRÉSTAMOS</p>
                </div>
            </div>
            <div class="galeria-img">
                <div class="foto">
                    <a href="editoriales.php">
                    <img src="img/5.png" alt="">
                    </a>
                </div>
                <div class="texto-titulo">
                    <p class="p1">TABLA DE:</p>
                    <p>EDITORIALES</p>
                </div>
            </div>
            <div class="galeria-img">
                <div class="foto">
                    <a href="autores.php">
                    <img src="img/6.png" alt="">
                    </a>
                </div>
                <div class="texto-titulo">
                    <p class="p1">TABLA DE:</p>
                    <p>AUTORES</p>
                </div>
            </div>
            <div class="galeria-img">
                <div class="foto">
                    <a href="libros-autores.php">
                    <img src="img/8.png" alt="">
                    </a>
                </div>
                <div class="texto-titulo">
                    <p class="p1">TABLA DE:</p>
                    <p class="tit">LIBROS-AUTORES</p>
                </div>
            </div>
            <div class="galeria-img">
                <div class="foto">
                    <a href="consultas.php">
                        <img src="img/8.png" alt="">
                    </a>
                </div>
                <div class="texto-titulo">
                    <p class="p1">TABLA DE:</p>
                    <p>CONSULTAS POR DÍA</p>
                </div>
            </div>
            <div class="galeria-img">
                <div class="foto">
                    <a href="consultas.php">
                        <img src="img/9.png" alt="">
                    </a>
                </div>
                <div class="texto-titulo">
                    <p class="p1">TABLA DE:</p>
                    <p>CONSULTAS POR MES</p>
                </div>
            </div>
            <div class="galeria-img">
                <div class="foto">
                    <a href="consultas.php">
                        <img src="img/1.png" alt="">
                    </a>
                </div>
                <div class="texto-titulo">
                    <p class="p1">TABLA DE:</p>
                    <p>Otras consultas</p>
                </div>
            </div>

            </div>

        </div>
        <div id="pie-pag">
            
            <section>
                <h1> © Geovanni Melchor Solano, todos los derechos revervados.</h1>
            </section>

        </div>
    </div>
    <script src="js/index.js"></script>

</body>

</html>